*{
    margin: 0;padding: 0;
}

.container{
    display: flex;
    flex-direction:column;
    padding: 10px;

    justify-content: center;
    align-items: center;
}
.container div{
    width: 30vw;
    height: 30vh;
}
.outputBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.outputBox > input, p{
    font-size: 20px;
}
.inputNumButtons{
    gap: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.reset{
    padding-top: 10px;
}
.reset button{
    width: 192px;
}

h1{
    text-align: center;
}
#inputNumbersID{
    height: 10vh;
}


.inputNumButtons button{
    font-size: 30px;
}

.zeroBtn{
    grid-column: 2/ span 2
}
.result{
    grid-column: 3/5;
}

@media (max-width: 481px) {
    .container{
        display: flex;
        flex-direction:column;
        height: 90vh; 
        background-color: aqua;
    }
    .container div{
        width: 100%;
        height: 100%;
    }
}